#### Exclude everything by default
*

#### Project files
!README.md
!LICENSE.md

#### Configuration files
!.gitignore
!.gitattributes

!.mise.toml
!.editorconfig

!.markdownlint-cli2.jsonc
!.markdownlint.jsonc

#### Subfolders
!.vscode
!docs
!stabstab


