#### Exclude everything by default
*

#### Project files
!README.md

#### License files
!LICENSE.md
!license
!license/*.txt
!license/*.md

#### Configuration files
!.gitignore
!.gitattributes

!mise.toml
!.editorconfig

!.markdownlint-cli2.jsonc
!.markdownlint.jsonc

!lefthook.yml

#### Subfolders
!.vscode
!.mise
!docs
!stabstab
!raw_art
